

<div class="container contenido">
    <div class="row">
      <div class="col-md-6">
        <p>
          Brawl Stars es un juego móvil de acción y estrategia desarrollado y publicado por Supercell. Fue lanzado inicialmente en versión beta en junio de 2017 y tuvo su lanzamiento global en diciembre de ese mismo año. El juego está disponible para dispositivos iOS y Android.
        </p>
        <p>
          En Brawl Stars, los jugadores compiten en intensas batallas en tiempo real en diversos modos de juego, con partidas cortas y dinámicas que suelen durar solo unos minutos. El objetivo principal del juego es derrotar al equipo rival o completar los objetivos específicos del modo de juego en el que estés participando.
        </p>
        <iframe width="424" height="238" src="https://www.youtube.com/embed/2ya8Oww8xWo" title="¡¡¡Godzilla ataca Brawl Stars!!!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" width="500" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <h2 class="font-weight-bold">Modos de Juego</h2>
        <ul class="list-unstyled">
          <li>
            <strong>Atrapagemas:</strong> Dos equipos de tres jugadores compiten por recolectar y mantener un número de gemas en el centro del mapa. El primer equipo en alcanzar la cantidad requerida de gemas y mantenerlas durante un tiempo determinado gana la partida.
          </li>
          <li>
            <strong>Supervivencia:</strong> Modo de juego tipo battle royale en el que los jugadores luchan entre sí o en equipos de dos para ser el último en pie en un mapa que se va reduciendo con el tiempo.
          </li>
          <li>
            <strong>Caza Estelar:</strong> Dos equipos compiten por eliminar a los miembros del equipo contrario para ganar estrellas. El equipo con más estrellas al final del tiempo de la partida gana.
          </li>
          <li>
            <strong>Atraco:</strong> Un equipo defiende una caja fuerte mientras el otro equipo intenta abrirse paso y destruirla. El equipo atacante gana si logra destruir la caja fuerte, mientras que el equipo defensor gana si logra mantenerla a salvo hasta el final de la partida.
          </li>
          <li>
            <strong>Balón Brawl:</strong> Una mezcla de fútbol y combate, donde dos equipos compiten por llevar el balón al área rival y marcar goles mientras evitan ser eliminados por los oponentes.
          </li>
        </ul>
      </div>
    </div>
  </div>
