<div class="row align-items-center">
    <div class="col-md-6 order-md-2 text-center">
      <img src="https://i.pinimg.com/originals/52/56/48/525648ce169fd2b5fae7a06158262af8.png" width="100px" class="img-fluid">
    </div>
    <div class="col-md-6 order-md-1">
      <h1 class="font-weight-bold text-md-right">¡Bienvenido a Brawl Stars!</h1>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="inicio">Inicio</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="brawler">Brawlers</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="inicio sesion">Iniciar Sesion</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="registro">Registrarse</a>
    </li>

    
  </ul>
