<div class="row align-items-center">
    <div class="col-md-6 order-md-2 text-center">
      <img src="https://i.pinimg.com/736x/57/2a/f2/572af2fdb5c4ae0936c9b0894efc1867.jpg" width="100px" class="img-fluid">
    </div>
    <div class="col-md-6 order-md-1">
      <h1 class="font-weight-bold text-md-right" >Shingeki no Kyojin
      </h1>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="inicio">Inicio</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/personajes">Personajes</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/iniciosesion">Iniciar Sesion</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/registro">Registrarse</a>
    </li>

    
  </ul>
