<header class="bg-white text-black py-4">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-6">
              <h1 class="font-weight-bold">¡Bienvenido a Brawl Stars!</h1>
          </div>
          <div class="col-md-6 text-center">
              <img src="https://i.pinimg.com/originals/52/56/48/525648ce169fd2b5fae7a06158262af8.png" width="100px" class="img-fluid">
          </div>
      </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Brawlers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>
<div>
  <p>
    
Brawl Stars es un juego móvil de acción y estrategia desarrollado y publicado por Supercell. Fue lanzado inicialmente en versión beta en junio de 2017 y tuvo su lanzamiento global en diciembre de ese mismo año. El juego está disponible para dispositivos iOS y Android.

En Brawl Stars, los jugadores compiten en intensas batallas en tiempo real en diversos modos de juego, con partidas cortas y dinámicas que suelen durar solo unos minutos. El objetivo principal del juego es derrotar al equipo rival o completar los objetivos específicos del modo de juego en el que estés participando.

El juego cuenta con una variedad de modos de juego, que incluyen:

<li>
  
</li>
Gemas (Gem Grab): Dos equipos de tres jugadores compiten por recolectar y mantener un número de gemas en el centro del mapa. El primer equipo en alcanzar la cantidad requerida de gemas y mantenerlas durante un tiempo determinado gana la partida.
Supervivencia (Solo Showdown/Duo Showdown): Modo de juego tipo battle royale en el que los jugadores luchan entre sí o en equipos de dos para ser el último en pie en un mapa que se va reduciendo con el tiempo.
Bounty: Dos equipos compiten por eliminar a los miembros del equipo contrario para ganar estrellas. El equipo con más estrellas al final del tiempo de la partida gana.
Atraco (Heist): Un equipo defiende una caja fuerte mientras el otro equipo intenta abrirse paso y destruirla. El equipo atacante gana si logra destruir la caja fuerte, mientras que el equipo defensor gana si logra mantenerla a salvo hasta el final de la partida.
Caza estelar (Brawl Ball): Una mezcla de fútbol y combate, donde dos equipos compiten por llevar el balón al área rival y marcar goles mientras evitan ser eliminados por los oponentes.
Robo (Robo Rumble/Boss Fight): Modo de juego cooperativo donde los jugadores enfrentan oleadas de enemigos controlados por la inteligencia artificial. En Robo Rumble, el objetivo es sobrevivir el mayor tiempo posible, mientras que en Boss Fight, los jugadores deben derrotar a un jefe controlado por la IA.
El juego presenta una amplia variedad de personajes jugables llamados "Brawlers", cada uno con habilidades y características únicas. Los jugadores pueden desbloquear y mejorar a los Brawlers a medida que avanzan en el juego, y también pueden adquirir aspectos cosméticos para personalizar su apariencia.
  </p>
</div>
<footer class="bg-dark text-white py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-6 text-center">
              <p class="mb-0">Síguenos en las redes sociales:</p>
              <ul class="list-inline mb-0">
                  <li class="list-inline-item"><a href="https://www.instagram.com/brawlstars/" class="text-white"><img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-social-platform-icon-png-image_6315976.png" width="30px"></a></li>
                  <li class="list-inline-item"><a href="https://twitter.com/BrawlStars" class="text-white"><img src="https://img.freepik.com/vector-premium/nuevo-logotipo-vectorial-twitter-x-blanco-fondo-negro_744381-866.jpg" width="30px"></a></li>
                  <li class="list-inline-item"><a href="https://www.youtube.com/@brawlstars" class="text-white"><img src="https://w7.pngwing.com/pngs/208/269/png-transparent-youtube-play-button-computer-icons-youtube-youtube-logo-angle-rectangle-logo-thumbnail.png" width="30px"></a></li>
              </ul>
          </div>
          <div class="col-md-6 text-center">
              <p class="mb-0">© 2024 Brawl Stars. Todos los derechos reservados.</p>
          </div>
      </div>
  </div>
</footer>