<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <p class="mb-0">Síguenos en las redes sociales:</p>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="https://www.instagram.com/attackontitan/" class="text-white"><img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-social-platform-icon-png-image_6315976.png" width="30px"></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/AoTWiki?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="text-white"><img src="https://img.freepik.com/vector-premium/nuevo-logotipo-vectorial-twitter-x-blanco-fondo-negro_744381-866.jpg" width="30px"></a></li>
            <li class="list-inline-item"><a href="https://youtu.be/xTGMt7D0_2c" class="text-white"><img src="https://w7.pngwing.com/pngs/208/269/png-transparent-youtube-play-button-computer-icons-youtube-youtube-logo-angle-rectangle-logo-thumbnail.png" width="30px"></a></li>
          </ul>
        </div>
        <div class="col-md-6 text-center">
          <p class="mb-0">© 2024 attackontitan. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
